<mat-toolbar color="primary">
  <span>Cześć nazwa_usera!</span>
  <button
    mat-icon-button
    color="primary"
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-flat-button [matMenuTriggerFor]="menu" color="warn">
    <mat-icon class="icon-space">build</mat-icon>
    Menu admina
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon class="icon-space">library_books</mat-icon>
      Kanały
    </button>
    <button mat-menu-item>
      <mat-icon class="icon-space">group</mat-icon>
      Użytkownicy
    </button>
  </mat-menu>
  <button mat-button (click)="openAccountSettingsModal()">
    <mat-icon class="icon-space">settings</mat-icon>
    Ustawienia konta
  </button>
  <button mat-button>
    <mat-icon class="icon-space">exit_to_app</mat-icon>
    Wyloguj
  </button>
</mat-toolbar>
