.login-card {
  width: 350px;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 175px);
}

.login-form,
.register-form {
  margin-top: 20px;
  .full-width {
    width: 100%;
  }
  button {
    margin-top: 20px;
  }
}
