<div class="account-settings-modal">
  <h1 mat-dialog-title>Ustawienia konta</h1>
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field>
        <input
          matInput
          placeholder="Nazwa"
          type="text"
          [formControl]="nameFormControl"
        />
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Nazwa jest <strong>wymagana</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="emailFormControl" />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Adres email jest niepoprawny
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email jest <strong>wymagany</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field *ngIf="!showPassword" disabled>
      <input
        matInput
        placeholder="Hasło"
        type="password"
        [formControl]="passwordFormControl"
      />
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Hasło jest <strong>wymagane</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="showPassword">
      <input matInput placeholder="Hasło" [formControl]="passwordFormControl" />
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Hasło jest <strong>wymagane</strong>
      </mat-error>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="showPassword" disabled>Pokaż hasło</mat-checkbox>
  </div>

  <div class="warning-alert">
    <p class="header">
      <mat-icon class="example-tab-icon">warning</mat-icon>Ostrzeżenie
    </p>
    <p class="content">Po zmianie danych zostaniesz wylogowany!</p>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Anuluj</button>
    <button
      (click)="updateUser()"
      mat-flat-button
      color="accent"
      [disabled]="
        emailFormControl.hasError('email') ||
        emailFormControl.hasError('required') ||
        nameFormControl.hasError('required') ||
        !(
          nameFormControl.value !== currentUser.name ||
          emailFormControl.value !== currentUser.email
        )
      "
    >
      Zapisz
    </button>
  </div>
</div>
